@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
	--black: #202020;
	--grey: #272727;
	--white: #fff;
	--white-opacity: rgba(255, 255, 255, 0.4);
	--yellow: #ffca00;
	--purple: #250f8a;
	--bg: #f4f9fd;
	--login: #1768b3;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
}
.title {
	font-weight: 700;
	font-size: 35px;
}

.close {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-size: 20px;
}

.header {
	background-image: url(../img/main-bg.jpg);
	min-height: 793px;
	background-size: cover;
	background-position: top center;
}
.header__top {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.icon {
	background-image: url(../img/menu.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 32px;
	height: 32px;
	display: none;
}

.header__logo {
	font-size: 20px;
	letter-spacing: 0.35px;
}
.header__menu {
	color: var(--white-opacity);
	text-transform: uppercase;
	transition: 0.4s;
}
.header__item:hover {
	color: var(--white);
}
.header__list {
	display: flex;
	gap: 50px;
}
.header__link--active {
	color: var(--white);
}

.header__buttons {
	display: flex;
	gap: 44px;
	align-items: center;
	text-transform: uppercase;
	color: var(--white);
}

.sign-up {
	padding: 8px 43px;
	background-color: var(--white);
	border-radius: 20px;
	color: var(--purple);
}

.header__content {
	display: flex;
	color: var(--white);
	padding-top: 150px;
}

.header__content-title {
	flex-basis: 505px;
	font-size: 45px;
	font-weight: 700;
	padding-bottom: 10px;
}

.header__content-description {
	font-size: 24px;
	padding-bottom: 60px;
}

.header__content-btn {
	padding: 13px 39px;
	background-color: var(--yellow);
	border-radius: 25px;
	color: var(--purple);
	text-transform: uppercase;
	border: none;
	cursor: pointer;
}
.header__content-right {
	flex-basis: calc(100% - 505px);
}

/* specialized */
.specialised {
	position: relative;
}
.specialised::before {
	position: absolute;
	content: '';
	left: -339px;
	top: 60%;
	height: 425px;
	width: 512px;
	transform: translateY(-50%);
	background-image: url(../img/decoration.svg);
	z-index: 0;
}
.specialised__title {
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	padding-bottom: 95px;
}
.specialised__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 93px;
}

.specialised__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-basis: 280px;
	z-index: 1;
}
.specialised__img {
	padding-bottom: 22px;
}
.specialised__item-title {
	font-weight: 700;
	font-size: 20px;
	padding-bottom: 8px;
}
.specialised__description {
	text-align: center;
	color: var(--grey);
}

/* experience */
.experience {
	position: relative;
	background-color: var(--bg);
	overflow: hidden;
}

.experience::before {
	position: absolute;
	content: '';
	right: -250px;
	top: 50%;
	height: 425px;
	width: 512px;
	background-image: url(../img/decoration-rev.svg);
}

.experience__inner {
	padding: 50px 0;
}
.experience__card {
	display: flex;
	align-items: center;
	z-index: 1;

	padding-bottom: 77px;
	justify-content: space-between;
}
.experience__card:last-child {
	padding-bottom: 0;
}
.experience__card--reversed {
	flex-direction: row-reverse;
}

.experience__card-left {
	flex-basis: 420px;
}
.experience__title {
	padding-bottom: 15px;
}
.experience__card-description {
	color: var(--grey);
}

.experience__card-description p {
	padding-bottom: 20px;
}

.experience__card-description p:last-child {
	padding-bottom: 0;
}
.experience__card-right {
	flex-basis: calc(100% - 420px - 50px);
	text-align: center;
}

/* comment */
.comment {
	background-image: url(../img/second-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 519px;
}

.comment__inner {
	padding-top: 38px;
}
.comment__title {
	text-align: center;
	color: var(--white);
	padding-bottom: 50px;
	max-width: 383px;
	margin: 0 auto;
}
.comment__cards {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
.comment__card {
	padding: 35px 20px;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	flex-basis: 300px;
}

.comment__card-header {
	display: flex;
	align-items: center;
	gap: 20px;
	padding-bottom: 12px;
}

.comment__card-img {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.comment__card-info {
	color: var(--white);
}

.comment__card-name {
	font-weight: 600;
}
.comment__card-position {
	color: var(--white-opacity);
}
.comment__card-body {
	text-align: center;
	color: var(--white);
}

.quote__icon {
	display: inline-block;
	font-weight: 700;
	font-size: 40px;
}

.comment__card-quote {
	line-height: 24px;
}

/* footer */
.footer__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
	color: var(--grey);
}

.footer__links {
	display: flex;
	gap: 20px;
}
/* modal login */
.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 99998;
	color: var(--black);
	background-color: rgba(0, 0, 0, 0.3);
	display: grid;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s, visibility 0.4s;
}
.modal__inner {
	position: relative;
	width: 400px;
	border-radius: 5px;
	padding: 35px 25px 60px;
	z-index: 1;
	background-color: var(--white);
	box-shadow: -1px 13px 42px -13px rgba(66, 68, 90, 1);
	transform: scale(0);
	transition: transform 0.8s;
}
.modal__header {
	padding-bottom: 30px;
}

.modal__title {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

/* .modal__form {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

.modal__input {
	position: relative;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid var(--grey);
	width: 100%;
}
.modal__show-pass {
	margin-bottom: 20px;
}

.modal__submit {
	width: 100%;
	padding: 10px 0;
	border-radius: 20px;
	background-color: var(--login);
	color: var(--white);
	font-weight: 600;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.forgot {
	display: block;
	position: absolute;
	text-align: center;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	font-size: 17px;
}

.forgot a {
	color: var(--login);
}

.modal.open {
	visibility: visible;
	opacity: 1;
}

.modal.open .modal__inner {
	transform: scale(1);
}

/* modal signup */
.signup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 99998;
	color: var(--black);
	background-color: rgba(0, 0, 0, 0.3);
	display: grid;
	align-items: center;
	justify-content: center;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s, visibility 0.4s;
}
.signup__inner {
	position: relative;
	width: 400px;
	border-radius: 5px;
	padding: 35px 25px 90px;
	z-index: 1;
	background-color: var(--white);
	box-shadow: -1px 13px 42px -13px rgba(66, 68, 90, 1);
	transform: scale(0);
	transition: transform 0.8s;
}

.signup__header {
	padding-bottom: 30px;
}
.signup__title {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

/* .signup__form {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

.signup__input {
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid var(--grey);
	width: 100%;
}

.signup__submit {
	width: 100%;
	padding: 10px 0;
	border-radius: 20px;
	background-color: var(--login);
	color: var(--white);
	font-weight: 600;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.signup.open {
	visibility: visible;
	opacity: 1;
}

.signup.open .signup__inner {
	transform: scale(1);
}

/* media query */
@media (max-width: 1060px) {
	.specialised::before {
		display: none;
	}
	.experience::before {
		display: none;
	}
}

@media (max-width: 950px) {
	.comment__card {
		padding: 20px;
	}
}

@media (max-width: 768px) {
	.header {
		min-height: 500px;
	}
	.header__content {
		text-align: center;
		padding-top: 100px;
	}
	.header__menu {
		position: fixed;
		top: 0;
		right: 0;
		min-width: 50%;
		height: 100vh;
		background-color: rgba(255, 255, 255, 0.4);
		color: var(--black);
		font-size: 25px;
		overflow-y: auto;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.4s, visibility 0.4s;
	}
	.header__list {
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 100px;
		transform: translateX(100%);
		transition: transform 0.8s;
	}
	.header__menu.open {
		visibility: visible;
		opacity: 1;
	}
	.header__link--active {
		color: inherit;
	}

	.header__menu.open .header__list {
		transform: translateX(0);
	}
	.header__buttons {
		display: none;
	}
	.header__burger {
		z-index: 2;
	}
	.icon {
		display: block;
		z-index: 2;
	}

	.comment__cards {
		flex-direction: column;
	}
	.comment__card-header {
		flex-direction: column;
	}
	.comment__card-img {
		width: 90px;
		height: 90px;
	}
	.comment__card-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header__content-right {
		display: none;
	}
}

@media (max-width: 600px) {
	.specialised__title {
		padding-bottom: 70px;
	}
	.specialised__items {
		flex-direction: column;
		gap: 20px;
	}
	.specialised__item-title {
		font-size: 25px;
	}
	.specialised__description {
		width: 80%;
		font-size: 20px;
	}
	.experience__card {
		flex-direction: column;
	}
	.experience__card-left {
		flex-basis: 220px;
	}
	.experience__card-right img {
		max-width: 60%;
	}
}
@media (max-width: 525px) {
	.header__content {
		padding-top: 65px;
	}
	.header__content-description {
		padding-bottom: 50px;
	}
}
@media (max-width: 450px) {
	.footer__inner {
		flex-direction: column;
	}
	.footer__links {
		padding-bottom: 10px;
	}
}
@media (max-width: 393px) {
	.header__content-description {
		padding-bottom: 25px;
	}
}
@media (max-width: 375px) {
	.header__content {
		padding-top: 45px;
	}
}
